
<div class="carHeading fs-4" style="margin-top: 5vh;" data-bs-spy="scroll" id="about">
    <b>About <span>Rila</span> Cars</b>
</div>
<div class="container" style="margin-top: 5vh;">
   
    <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 ">
            <div class="card text-center mb-3 text-bg-dark" style="width: 20rem;">
                <img src="../../assets/images/why-kei-8e2gal_GIE8-unsplash.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <b class="card-title fs-4"><span>Self</span> Driven Cars</b>
                    <p class="card-text">Rila cars offer world-class self drive car rental services in Trichy. We are in
                        the top position for providing the self drive car rental in Trichy.</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="card text-center mb-3 text-bg-dark" style="width: 20rem;">
                <img src="../../assets/images/obi-pixel8propix-aZKJEvydrNM-unsplash.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <b class="card-title fs-4"><span>Various</span> Models</b>
                    <p class="card-text">We give the more freedom to select your favourite self drive car rental in
                        Trichy.</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="card text-center mb-3 text-bg-dark" style="width: 20rem;">
                <img src="../../assets/images/AutomaticCars.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <b class="card-title fs-4">Automatic <span>Cars</span></b>
                    <p class="card-text">We also have Automatic cars which means gearless cars at best price in Trichy</p>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
            <div class="card text-center mb-3 text-bg-dark" style="width: 20rem;">
                <img src="../../assets/images/berkeley-communications-WEDDt-u3q3o-unsplash.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <b class="card-title fs-4">24/7 <span>Customer</span> Service</b>
                    <p class="card-text">We providing 24/7 customer service to assist your queries. So, you dont need to fear after starting the ride. We are there for you</p>
                </div>
            </div>
        </div>
    </div>

</div>