<div class="container" data-bs-spy="scroll" id="car">
    <div class="carHeading fs-4">
        <b>We Have <span>All</span> Type Of <span>Cars</span></b>
    </div>
    <br>
    <div class="hatchBack fs-5">
        <b>HatchBack Starts from - 1500</b>
    </div>
    <div class="row">
        <div class="boxContainer">
            <div class="col-lg-4 col-md-4 col-sm-12 box">
                <img src="../../assets/images/toyota-etios-liva-modified-featured.jpg">
                <h2>Liva</h2>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 box">
                <img src="../../assets/images/800px-2011_Volkswagen_Polo_S_60_1.2_Front.jpg">
                <h2>Polo</h2>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 box">
                <img src="../../assets/images/i20-exterior-right-front-three-quarter-7.jpeg">
                <h2>I20</h2>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="boxContainer">
            <div class="col-lg-3 col-md-3 col-sm-12 box">
                <img src="../../assets/images/swift-hybrid.webp">
                <h2>Swift</h2>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 box">
                <img src="../../assets/images/glanza.jpg">
                <h2>Glanza</h2>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 box">
                <img src="../../assets/images/baleno.webp">
                <h2>Baleno</h2>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 box">
                <img src="../../assets/images/i10.webp">
                <h2>I10</h2>
            </div>
        </div>
    </div> 
    <br>
    <div class="Sedan fs-5">
        <b>Sedan Starts from - 1800</b>
    </div>
    <div class="row">
        <div class="boxContainer1">
            <div class="col-lg-4 box1">
                <img src="../../assets/images/swift-dzire-VXI-compressed.webp">
                <h2>Dezire</h2>
            </div>
            <div class="col-lg-4 box1">
                <img src="../../assets/images/honda_city_red_1672234560897_1677494973008_1677494973008.webp">
                <h2>City</h2>
            </div>
            <div class="col-lg-4 box1">
                <img src="../../assets/images/047.jpg">
                <h2>Ciaz</h2>
            </div>
        </div>
    </div>
    <br>
    <div class="Suv fs-5">
        <b>Suv/Companct Suv and Mpv Starts from - 1800</b>
    </div>
    <div class="row">
        <div class="boxContainer2">
            <div class="col-lg-4 box2">
                <img src="../../assets/images/maxresdefault.jpg">
                <h2>Ertiga</h2>
            </div>
            <div class="col-lg-4 box2">
                <img src="../../assets/images/1121654-toyota-innova-hycross-front.webp">
                <h2>Innova</h2>
            </div>
            <div class="col-lg-4 box2">
                <img src="../../assets/images/toyota-fortuner-right-front-three-quarter35.jpeg">
                <h2>Fortuner</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="boxContainer2">
            <div class="col-lg-3 box2">
                <img src="../../assets/images/S-cross.webp">
                <h2>S-Cross</h2>
            </div>
            <div class="col-lg-3 box2">
                <img src="../../assets/images/Creta.jpg">
                <h2>Creta</h2>
            </div>
            <div class="col-lg-3 box2">
                <img src="../../assets/images/Venue.jpg">
                <h2>Venue</h2>
            </div>
            <div class="col-lg-3 box2">
                <img src="../../assets/images/Brezza.jpg">
                <h2>Brezza</h2>
            </div>
        </div>
    </div>
</div>